/*
.nav__item {
  display: block;
  width: 50%;
  z-index: 11;
  font-size: 1rem;
  padding: 0.625rem 0.3125rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3.125rem 3.125rem;
  margin-bottom: 0.3125rem;
  color: #ffffff;
  border: 0.125rem solid #ffffff;
}*/
