//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Source+Sans+Pro:300,400|Muli:900';

$fontFamily: 'Open Sans', sans-serif;
$fontFamily1: 'Source Sans Pro', sans-serif;
$fontFamily2: 'Muli', sans-serif;

$baseFontSize: 16px;


$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors

$black: #000000;
$white: #ffffff;
$green: #16a086;
$darkGray: #333b46;
$lightGray: #81868e;
$dirtyWhite: #f3f3f3;

