.toggle-menu{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  z-index: 10;
  display: none;

  .is-mobile & {
    display: block;
  }

  span {
    display: block;
    height: 5px;
    background: $black;
    margin-bottom: 6px;
    width: 100%;
    transition: all .4s;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &.active {
    margin-top: 5px;
    span:nth-of-type(1) {
      transform: rotate(45deg);
      margin-bottom: -5px;
    }
    span:nth-of-type(2) {
      transform: rotate(-45deg);
      margin-bottom: 0;
    }
    span:nth-of-type(3){
      opacity: 0;
    }
  }
}